Repository arizon-dev/quickblaze-encrypt, pull requests merged in 2022-06, with the labels that each got.

#21 🌍 v1.1.3 Stable Release
  .config
  .htaccess
  .version
  Modules/.htaccess
  Modules/Database_example.env
  Modules/Functions.php
  Public/Error/403.php
  Public/Error/404.php
  Public/Error/500.php
  Public/Error/DatabaseConfig.php
  Public/Error/DatabaseCredentials.php
  Public/Error/ServerConfiguration.php
  Public/assets/css/bootstrap.min.css
  Public/assets/css/error.css
  Public/assets/css/style.css
  Public/assets/img/favicon.png
  Public/assets/js/buttonCopyURL.js
  Public/index.php
  Public/processForm.php
  Public/view.php
  README.md
  composer.json
  index.php
  src/.version
  src/composer.json
Labels: bug, enhancement, 🔒 security

#22 🐛 v1.1.4-dev Minor Commit
  .gitignore
  Public/Error/DatabaseConfig.php
  Public/Error/DatabaseCredentials.php
  Public/Error/ServerConfiguration.php
  Public/index.php
  Public/view.php
Labels: bug

#23 🐛 v1.1.5 Update
  .github/workflows/dependency-review.yml
  .version
Labels: enhancement

#30 🌍 v1.1.6 Stable Release
  .github/workflows/codacy.yml
  .gitignore
  .security-scan
  .version
  Modules/Functions.php
  Public/Error/403.php
  Public/Error/404.php
  Public/Error/500.php
  Public/Error/DatabaseConfig.php
  Public/Error/DatabaseCredentials.php
  Public/Error/ServerConfiguration.php
  Public/assets/css/style.css
  Public/assets/js/formContentUpdate.js
  Public/assets/js/globalFunctions.js
  Public/index.php
  Public/processForm.php
  Public/view.php
  README.md
Labels: documentation, enhancement, 🔒 security

#38 v1.1.7 Patching Release
  .config
  .github/workflows/codacy.yml
  .htaccess
  .version
  Modules/Functions.php
  Public/Error/403.php
  Public/Error/404.php
  Public/Error/500.php
  Public/Error/DatabaseConfig.php
  Public/Error/DatabaseCredentials.php
  Public/Error/ServerConfiguration.php
  Public/assets/css/bootstrap.css
  Public/index.php
  Public/view.php
  README.md
Labels: documentation, enhancement, 🔒 security, CSS, PHP

#39 🔧v1.1.8 Release
  .codacy.yml
  .htaccess
  .version
  Public/Error/403.php
  Public/Error/404.php
  Public/Error/500.php
  Public/Error/DatabaseConfig.php
  Public/Error/DatabaseCredentials.php
  Public/Error/ServerConfiguration.php
  Public/assets/css/bootstrap.css
  Public/assets/css/style.css
  Public/assets/js/buttonCopyURL.js
  Public/assets/js/formContentUpdate.js
  Public/assets/js/globalFunctions.js
  Public/index.php
  Public/view.php
  README.md
Labels: bug, documentation, enhancement, 🔒 security, CSS, PHP

#40 🔧 Configuration & Security Patch
  .htaccess
  Modules/Functions.php
Labels: bug, 🔒 security

#41 🌍 v1.1.9 Patches Release
  .security-scan
  .version
  Modules/Functions.php
  Public/Error/403.php
  Public/Error/404.php
  Public/Error/500.php
  Public/Error/DatabaseConfig.php
  Public/Error/DatabaseCredentials.php
  Public/Error/ServerConfiguration.php
  Public/assets/css/style.css
  Public/assets/js/autoConfigurationChecks.js
  Public/assets/js/buttonCopyURL.js
  Public/assets/js/formContentUpdate.js
  Public/assets/js/globalFunctions.js
  Public/dataProcessing.php
  Public/index.php
  Public/processForm.php
  Public/view.php
  README.md
  SECURITY.md
  index.php
Labels: documentation, enhancement, 🔒 security, CSS, PHP

#54 Syntax refactor
  Public/assets/js/autoConfigurationChecks.js
  Public/assets/js/buttonCopyURL.js
  Public/assets/js/formContentUpdate.js
  Public/assets/js/globalFunctions.js
Labels: bug, enhancement, 🔒 security, JavaScript

#55 v1.2.0 Release
  .gitignore
  .htaccess
  .security-scan
  .version
  LICENSE
  Modules/Functions.php
  Public/Error/403.php
  Public/Error/404.php
  Public/Error/500.php
  Public/Error/DatabaseConfig.php
  Public/Error/DatabaseCredentials.php
  Public/Error/ServerConfiguration.php
  Public/assets/css/style.css
  Public/assets/img/Thumbs.db
  Public/assets/img/favicon-1000x1000.png
  Public/assets/img/favicon-100x100.png
  Public/assets/img/favicon-255x255.png
  Public/assets/img/favicon-500x500.png
  Public/assets/img/favicon-50x50.png
  Public/assets/img/favicon.png
  Public/assets/js/autoConfigurationChecks.js
  Public/assets/js/buttonCopyURL.js
  Public/assets/js/formContentUpdate.js
  Public/assets/js/globalFunctions.js
  Public/dataProcessing.php
  Public/index.php
  Public/view.php
  favicon.ico
  index.php
Labels: bug, documentation, enhancement, 🔒 security, CSS, PHP, JavaScript

#57 v1.1.10 Release
  .htaccess
  .version
  LICENSE
  Modules/functions.php
  Public/assets/css/style.css
  Public/assets/js/buttonCopyURL.js
  Public/assets/js/formContentUpdate.js
  Public/assets/js/globalFunctions.js
  Public/dataProcessing.php
  Public/error_docs/403.php
  Public/error_docs/404.php
  Public/error_docs/500.php
  Public/error_docs/DatabaseConfig.php
  Public/error_docs/DatabaseCredentials.php
  Public/error_docs/ServerConfiguration.php
  index.php
Labels: bug, documentation, enhancement, 🔒 security, CSS, PHP, JavaScript

#58 v1.1.10 Release
  .gitignore
  .version
Labels: bug, 🔒 security

#61 v1.1.11 Release
  .github/ISSUE_TEMPLATE/bug_report.md
  .version
  Public/index.php
  Public/view.php
Labels: bug, enhancement

#62 🌍 v1.1.12 Initial Commit
  .github/ISSUE_TEMPLATE/bug_report.md
  .version
  Public/assets/img/favicon-1000x1000.png
  Public/assets/img/favicon-100x100.png
  Public/assets/img/favicon-255x255.png
  Public/assets/img/favicon-500x500.png
  Public/assets/img/favicon-50x50.png
  Public/assets/img/favicon.png
  SECURITY.md
  favicon.ico
Labels: bug, documentation, 🔒 security

#63 ⭐ v1.1.13 Release
  .codacy.yml
  .version
  Public/assets/css/style.css
  Public/error_docs/403.php
  Public/error_docs/404.php
  Public/error_docs/500.php
  Public/error_docs/DatabaseConfig.php
  Public/error_docs/ServerConfiguration.php
  Public/index.php
  Public/view.php
Labels: bug, documentation, 🔒 security, CSS, PHP, JavaScript

#65 v1.1.14/2 Patching Release
  .github/FUNDING.yml
  .version
  Modules/functions.php
  SECURITY.md
Labels: bug, documentation
